body { background:#fff; font-size:12px; }
.convert { padding:20px; }
.convert-hd {
    strong { color:#3E2F00; }
}
.convert-hd p { }
.convert-bd { padding:20px 0;
    p { padding:4px 0; }
    .convert-bd-set { margin:10px 0;}
    ul { display:flex; flex-wrap:wrap; }
    li { width:60px; }
    input { vertical-align:middle; margin-right:6px; }
}
.convert-ft {
    .convert-additional {  }
}
.convert-log { padding:10px; color:#3E2F00; }
