@font-face {font-family: 'iconfont';
    src: url('iconfont.woff') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, input, textarea, button, fieldset, legend, figure, ul { margin: 0; padding: 0; }
body { font:12px/1.5 Corbel, "Helvetica Neue", Helvetica, Arial; color: #3E3E3E; }
html { /*-webkit-user-select: none;*/ }
button, input, select, textarea { vertical-align:top; font-size:12px; font-family:Corbel, "Helvetica Neue", Helvetica, Arial; }
header, footer, aside, article, section, hgroup, nav, figure { display: block; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; font-family:"Century Gothic","Microsoft YaHei"; }
ol, ul { list-style: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
img { vertical-align:top; }
a img { border: none; }
strong { font-weight: bold; }
cite, em, i { font-style: italic; }
ins { background: #ffc; text-decoration: none; }
abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 1ex; }
sub { top: 0.5ex; }
a { color: #3B5998; text-decoration: none; }
:focus { outline: 0; }
.ui-clear:after { height: 0; display: block; content: "\200B"; clear: both;  }

/*iconfont*/
.iconfont { font-family:"iconfont" !important; font-size:16px; font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; }


.icon-hebing:before { content: "\e603"; }
.icon-jianqie:before { content: "\e606"; }
.icon-iconjia:before { content: "\e602"; }
.icon-yijieshou:before { content: "\e601"; }
.icon-xiugai:before { content: "\e608"; }
.icon-yichuchahao:before { content: "\e607"; }
.icon-daochu:before { content: "\e600"; }
.icon-tihuanicon:before { content: "\e604"; }
/*---*/
.app {height:100vh; display:flex; flex-direction:column; overflow:hidden; background:#fff; }
/*header*/
.app-hd { height:100px; background:linear-gradient(#3d93dd,#288add); /*background:#1F170E;*/ -webkit-app-region: drag; }
.ui-btn { width:100%; padding:6px 0; text-align:center; border-radius:2px; font-size:12px; background:#11cd6e; border:0; color:#fff; }
.ui-btn:active { background:#0fa459; }
.ui-btn.disable { background:#bbb; }
/*bd*/
.app-bd { flex:1; overflow:hidden; padding:10px; box-sizing:border-box; }
.ui-font { height:100%; }
.ui-font-area { display:table; box-sizing:border-box; height:100%; width:100%; border:dashed 1px #d7dfee; border-radius:6px; background:rgba(222,230,246,0.2); text-align:center; color:#999; cursor:default; }
.ui-font-area.active { background:rgba(222,230,246,0.5) }
.ui-font-area-txt { display:table-cell; vertical-align:middle; }
.ui-font-area-txt:before { display:block; text-align:center; font-size:64px; line-height:1.1; font-family:"iconfont"; }
.ui-font-command { padding:10px 0; }
/*have*/
.ui-font-area-have { height:93px; line-height:1.2; }
.ui-font-area-have .ui-font-area-txt:before {  font-size:32px; line-height:1.1; padding-bottom:3px; }
.ui-font-textarea { box-sizing:border-box; width:100%; height:160px; margin:10px 0 0; padding:5px; border:solid 1px #ddd; border-radius:3px; }
.ui-font-textarea:focus { border:solid 1px #11CD6E; }
/*list*/
.ui-font-list { height:calc(100vh - 208px); margin-top:7px; padding-right:10px; overflow-y:auto; }
.ui-font-item { position:relative; z-index:1; height:45px; padding:5px 0; overflow:hidden; border-bottom:dashed 1px #ddd; }
.ui-font-item:last-child { border-bottom:0; }
.ui-font-pic { float:left; width:45px; height:45px; overflow:hidden; margin-right:10px; }
.ui-font-pic img { border-radius:3px; }
.ui-font-info { overflow:hidden; }
.ui-font-name { }
.ui-font-name-file { float:left; width:65px; margin-right:15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.ui-font-name-unicode { border:dashed 1px #ccc; border-radius:3px; padding:0 5px; /*-webkit-user-select:text;*/ color:#999; }
.ui-font-size { color:#999; }
.ui-font-operation { display:none; position:absolute; right:0; top:5px; height:45px; line-height:45px; text-align:center; font-family:"iconfont"; font-size:16px; cursor:pointer; }
.ui-font-operation span { position:relative; z-index:1; overflow:hidden; float:left; width:30px; background:rgba(0,0,0,0.05); color:#fff; }
.ui-font-operation span:nth-child(1):hover { background:#c7c7cc; }
.ui-font-operation span:nth-child(2):hover { background:#ff9500; }
.ui-font-operation span:last-child:hover { background:red; }
.ui-font-replace-input { position:absolute; left:0; top:0; width:30px; height:45px; opacity:0; cursor:pointer; }
.ui-font-item:hover .ui-font-operation { display:block; }
/*ft*/
.app-ft { height:52px; text-align:center; }
.app-nav { background:#f8f8f8; border-top:solid 1px #d8d8d8; }
.app-nav-list { overflow:hidden; display:-webkit-box; display:box; }
.app-nav-item { position:relative; z-index:1; width:50%; float:left; padding:5px 0 5px; line-height:1; font-size:12px; text-align:center; cursor:default; -webkit-box-flex:1.0; box-flex:1.0; color:#929292; }
.app-nav-item:before { display:block; padding-bottom:3px; text-align:center; font-size:26px; font-family:"iconfont"; }
.app-nav-item.active { color:#11CD6E; }
/*bar*/
::-webkit-scrollbar-track-piece { background-color:#eee; }
::-webkit-scrollbar { width:6px; }
::-webkit-scrollbar-thumb { background:#999; border-radius:3px; }
