.convert { padding:20px; }
.convert-hd strong { color:#3E2F00; }
.convert-hd p { padding:0 0 10px; }
.convert-bd { padding:0 0 20px; }
.convert-bd ul { display:flex; flex-wrap:wrap; }
.convert-bd li { width:60px; }
.convert-bd input { vertical-align:middle; margin-right:6px; }
.convert-ft p { padding:0 0 10px; }
.convert-log { padding:10px; color:#3E2F00; }
